@import compass/reset
@import compass/css3
@import mixin

html
	overflow: hidden

body
	margin: 0
	padding: 0
	overflow-x: hidden
	background-color: #b59e74
	font-family: helvetica, "LiHei Pro", "Heiti TC", "Microsoft JhengHei"

#container,
.menu
	+transition(0.2s)

#container
	position: relative
	width: 100%
	z-index: 1
	background-color: #fff
	&.show-menu
		margin-left: 240px	
.menu
	width: 240px
	height: 100%
	position: fixed
	top: 0
	left: -240px
	background-color: #b59e74
	font-size: 18px
	overflow-y: auto
	overflow: scroll
	-webkit-overflow-scrolling: touch
	&.show-menu
		left: 0px
	a
		text-decoration: none
		color: #222
	h3
		display: inline
		position: relative
		&:after
			+bg(icon-sub,svg)
			background-size: 25px 375px
			background-position: 0 -250px
			width: 25px
			height: 25px
			content: ''
			position: absolute
			top: -3px

	.back
		line-height: 60px
		text-align: center
		border-bottom: 1px #a07d3d solid
		h3
			&:after
				background-position: 0 -275px
				left: -25px
	.menu-list
		margin-top: 10px
		line-height: 40px
		li
			a
				width: 100%
				text-indent: 80px
				display: block

#header
	height: 50px
	width: 100%
	background-color: #8b5c06
	position: fixed
	z-index: 10
	.logo
		width: 65px
		height: 50px
		position: relative
		margin: auto
		a
			display: block
			width: 65px
			height: 50px
			background-size: 100%
			+bg(logo-hola,png)
	ul	
		position: absolute
		bottom: 0
		height: 40px
		&.menu-left
			left: 5px
		&.menu-right
			right: 5px	
		li
			width: 30px
			height: 30px
			margin: 5px 0px
			display: inline-block
			background-size: 60px 150px
			+bg(icon-header,svg)
			&.header-menu
				background-position: 0 0
			&.header-search
				background-position: 0 -30px
			&.header-login
				background-position: 0 -60px
			&.header-order
				background-position: 0 -90px
			&.header-cart
				background-position: 0 -120px

.sub-nav
	padding-top: 50px
	height: 50px
	border-bottom: 1px #d7d7d7 solid
	font-size: 0
	li
		display: inline-block
		width: 25%
		text-align: center
		height: 50px
		h2
			font-size: 12px
			line-height: 25px
			margin-top: 12px
			padding-left: 20px
			position: relative	
			&:before
				content: ''
				width: 25px
				height: 25px
				position: absolute
				top: 0
				margin-left: -25px
				background-size: 25px 375px
				+bg(icon-sub,svg)
			&.nav-news
				&:before
					background-position: 2px 0
			&.nav-coupon
				&:before
					background-position: 2px -25px
			&.nav-store
				&:before
					background-position: 2px -50px
			&.nav-dm
				&:before
					background-position: 2px -75px

#content
	.highlight
		position: relative
		margin-bottom: 30px
		ul
			width: 100%
			font-size: 0
			position: relative
			li
				display: inline-block
				a,
				img
					width: 100%
				&.highlight-sub01,
				&.highlight-sub02
					width: 48%
				&.highlight-sub01
					margin: 10px 0 0 0
				&.highlight-sub02
					margin: 10px 0 0 4%
	.daily-select
		width: 100%
		position: relative
		a,
		img
			width: 100%
			display: block
			text-decoration: none
		.daily-info
			height: 40px
			line-height: 40px
			background-color: #ece7de
			position: relative
			span
				color: #b72600
				font-size: 10px
				line-height: 15px
				border: 1px #b72600 solid
				display: inline-block
				margin: 0 2px 0 5px
				padding: 2px 4px
				+border-radius(3px)
			h2
				display: inline-block
				font-size: 12px
				color: #000
			.price
				position: absolute
				top: 0
				right: 0
				background-color: #b72600
				color: #fff
				font-size: 18px
				font-weight: bold
				padding: 0 8px
	.promote
		width: 95%
		position: relative
		margin: 0 auto 20px
		text-align: center
		h2
			font-size: 15px
			line-height: 40px
			margin-top: 10px
			font-weight: bold
		ul
			position: relative
			font-size: 0
			li
				display: inline-block
				width: 48%
				a,
				img
					width: 100%
				&:nth-of-type(odd)
					margin: 0 0 10px 0
				&:nth-of-type(even)
					margin: 0 0 10px 4%
	.breadcrumb
		background-color: #ece7de
		border-bottom: 1px #e2dfdb solid
		line-height: 40px
		font-size: 12px
		color: #8b5c06
		padding: 0 10px
		a
			color: #8b5c06
	.filter
		height: 52px
		position: relative
		.list-type
			position: absolute
			left: 10px
			top: 10px
			font-size: 0
			li
				display: inline-block
				position: relative
				width: 30px
				height: 30px
				border: 1px #d7d7d7 solid
				background-color: #fff
				+bg(icon-sub,svg)
				background-size: 30px 450px
				&.selected
					&:after
						position: absolute
						width: 30px
						height: 30px
						top: 0
						left: 0
						content: ''
						background-color: #ccc
						opacity: .6
				&.list-pix
					background-position: 0 -390px
				&.list-pt
					background-position: 0 -420px
				&:nth-of-type(2)
					margin-left: -1px
		select
			position: absolute
			right: 10px
			top: 10px
			height: 30px
			line-height: 30px	
			font-size: 15px
	.list-cont
		width: 95%
		position: relative
		margin: 0 auto 20px
		font-size: 0
		.list-box		
			a
				text-decoration: none
				.price
					font-size: 15px
					line-height: 30px
					font-weight: bold
					color: #b72600
					del
						color: #363636
						margin-right: 3px
				h2
					font-size: 13px
					font-weight: bold
					color: #8b5c06
					line-height: 20px
					min-height: 80px
					height: 80px
					overflow: hidden
					text-overflow: ellipsis
					display: -webkit-box
					-webkit-line-clamp: 4
					-webkit-box-orient: vertical
			.item-info
				position: relative
		&.pix
			.list-box
				width: 48%
				display: inline-block
				vertical-align: top
				a,
				img
					width: 100%
					display: block	
				&:nth-of-type(odd)
					margin: 0 0 10px 0
				&:nth-of-type(even)
					margin: 0 0 10px 4%
		&.pt
			.list-box
				width: 100%
				display: block
				font-size: 0
				margin-bottom: 15px
				img
					width: 45%
					display: inline-block
				.item-info
					width: 53%
					margin-left: 2%
					display: inline-block
					vertical-align: top
				.price
					position: absolute
					bottom: 0
				h2
					top: 0
					font-size: 16px
					line-height: 23px
					min-height: 92px
					height: 92px
		.load-more
			color: #b72600
			width: 90%
			margin: auto
			font-size: 15px
			line-height: 35px
			border: 1px #b72600 solid
			text-align: center
			+border-radius(3px)


#footer
	background-color: #394166
	color: #fff
	.link
		text-align: center
		margin: 5px 0
		li
			display: inline-block
			width: 50px
			height: 50px
			a
				width: 50px
				height: 50px
				display: block
				background-size: 50px 200px
				+bg(icon-footer,svg)
			&.desktop
				a
					background-position: 0 -50px
			&.mobile
				a
					background-position: 0 -100px
			&.facebook
				a
					background-position: 0 -150px
	p
		padding: 0 10% 10px
		font-size: 11px
		line-height: 15px
		span
			font-size: 9px
			display: block

