html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b59e74;
  font-family: helvetica, "LiHei Pro", "Heiti TC", "Microsoft JhengHei";
}

#container,
.menu {
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#container {
  position: relative;
  width: 100%;
  z-index: 1;
  background-color: #fff;
}
#container.show-menu {
  margin-left: 240px;
}

.menu {
  width: 240px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -240px;
  background-color: #b59e74;
  font-size: 18px;
  overflow-x: hidden;
  overflow-y: auto;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.menu.show-menu {
  left: 0px;
}
.menu a {
  text-decoration: none;
  color: #222;
}
.menu h3 {
  display: inline;
  position: relative;
}
.menu h3:after {
  background-image: url("../img/icon-sub.svg");
  background-repeat: no-repeat;
  background-size: 25px 375px;
  background-position: 0 -250px;
  width: 25px;
  height: 25px;
  content: "";
  position: absolute;
  top: -3px;
}
.menu .back {
  line-height: 60px;
  text-align: center;
  border-bottom: 1px #a07d3d solid;
}
.menu .back h3:after {
  background-position: 0 -275px;
  left: -25px;
}
.menu .menu-list {
  margin-top: 10px;
  line-height: 40px;
}
.menu .menu-list li a {
  width: 100%;
  text-indent: 80px;
  display: block;
}

#header {
  height: 50px;
  width: 100%;
  background-color: #8b5c06;
  position: fixed;
  z-index: 10;
}
#header .logo {
  width: 65px;
  height: 50px;
  position: relative;
  margin: auto;
}
#header .logo a {
  display: block;
  width: 65px;
  height: 50px;
  background-size: 100%;
  background-image: url("../img/logo-hola.png");
  background-repeat: no-repeat;
}
#header ul {
  position: absolute;
  bottom: 0;
  height: 40px;
}
#header ul.menu-left {
  left: 5px;
}
#header ul.menu-right {
  right: 5px;
}
#header ul li {
  width: 30px;
  height: 30px;
  margin: 5px 0px;
  display: inline-block;
  background-size: 60px 150px;
  background-image: url("../img/icon-header.svg");
  background-repeat: no-repeat;
}
#header ul li.header-menu {
  background-position: 0 0;
}
#header ul li.header-search {
  background-position: 0 -30px;
}
#header ul li.header-login {
  background-position: 0 -60px;
}
#header ul li.header-order {
  background-position: 0 -90px;
}
#header ul li.header-cart {
  background-position: 0 -120px;
}

.sub-nav {
  padding-top: 50px;
  height: 50px;
  border-bottom: 1px #d7d7d7 solid;
  font-size: 0;
}
.sub-nav li {
  display: inline-block;
  width: 25%;
  text-align: center;
  height: 50px;
  position: relative;
}
.sub-nav li a {
  text-decoration: none;
  color: #000;
  display: block;
  height: 50px;
  width: 100%;
}
.sub-nav li.acted {
  background-color: #ece7de;
}
.sub-nav li h2 {
  font-size: 13px;
  line-height: 25px;
  top: 12px;
  padding-left: 17px;
  position: relative;
}
.sub-nav li h2:before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  margin-left: -25px;
  background-size: 25px 375px;
  background-image: url("../img/icon-sub.svg");
  background-repeat: no-repeat;
}
.sub-nav li h2.nav-news:before {
  background-position: 2px 0;
}
.sub-nav li h2.nav-coupon:before {
  background-position: 2px -25px;
}
.sub-nav li h2.nav-store:before {
  background-position: 2px -50px;
}
.sub-nav li h2.nav-dm:before {
  background-position: 2px -75px;
}

#content .highlight {
  position: relative;
  margin-bottom: 30px;
}
#content .highlight ul {
  width: 100%;
  font-size: 0;
  position: relative;
}
#content .highlight ul li {
  display: inline-block;
}
#content .highlight ul li a,
#content .highlight ul li img {
  width: 100%;
}
#content .highlight ul li.highlight-sub01, #content .highlight ul li.highlight-sub02 {
  width: 48%;
}
#content .highlight ul li.highlight-sub01 {
  margin: 10px 0 0 0;
}
#content .highlight ul li.highlight-sub02 {
  margin: 10px 0 0 4%;
}
#content .daily-select {
  width: 100%;
  position: relative;
}
#content .daily-select a,
#content .daily-select img {
  width: 100%;
  display: block;
  text-decoration: none;
}
#content .daily-select .daily-info {
  height: 40px;
  line-height: 40px;
  background-color: #ece7de;
  position: relative;
}
#content .daily-select .daily-info span {
  color: #b72600;
  font-size: 10px;
  line-height: 15px;
  border: 1px #b72600 solid;
  display: inline-block;
  margin: 0 2px 0 5px;
  padding: 2px 4px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#content .daily-select .daily-info h2 {
  display: inline-block;
  font-size: 12px;
  color: #000;
}
#content .daily-select .daily-info .price {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #b72600;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 0 8px;
}
#content .promote {
  width: 95%;
  position: relative;
  margin: 0 auto 20px;
  text-align: center;
}
#content .promote h2 {
  font-size: 15px;
  line-height: 40px;
  margin-top: 10px;
  font-weight: bold;
}
#content .promote ul {
  position: relative;
  font-size: 0;
}
#content .promote ul li {
  display: inline-block;
  width: 48%;
}
#content .promote ul li a,
#content .promote ul li img {
  width: 100%;
}
#content .promote ul li:nth-of-type(odd) {
  margin: 0 0 10px 0;
}
#content .promote ul li:nth-of-type(even) {
  margin: 0 0 10px 4%;
}
#content .breadcrumb {
  background-color: #ece7de;
  border-bottom: 1px #e2dfdb solid;
  line-height: 40px;
  font-size: 12px;
  color: #8b5c06;
  padding: 0 10px;
}
#content .breadcrumb a {
  color: #8b5c06;
}
#content .filter {
  height: 52px;
  position: relative;
}
#content .filter .list-type,
#content .filter .store-loc {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 0;
}
#content .filter .list-type li,
#content .filter .store-loc li {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px #d7d7d7 solid;
  background-color: #fff;
  background-image: url("../img/icon-sub.svg");
  background-repeat: no-repeat;
  background-size: 30px 450px;
}
#content .filter .list-type li.selected:after,
#content .filter .store-loc li.selected:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background-color: #ccc;
  opacity: 0.6;
}
#content .filter .list-type li.list-pix,
#content .filter .store-loc li.list-pix {
  background-position: 0 -390px;
}
#content .filter .list-type li.list-pt,
#content .filter .store-loc li.list-pt {
  background-position: 0 -420px;
}
#content .filter .list-type li:nth-of-type(2),
#content .filter .store-loc li:nth-of-type(2) {
  margin-left: -1px;
}
#content .filter .store-loc {
  width: 95%;
  position: relative;
  margin: auto;
  left: 0;
  text-align: center;
}
#content .filter .store-loc li {
  width: 24%;
  font-size: 12px;
  line-height: 30px;
  background-image: none;
  margin-left: -1px;
}
#content .filter select {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
}
#content .list-cont {
  width: 95%;
  position: relative;
  margin: 0 auto 20px;
  font-size: 0;
}
#content .list-cont .list-box a {
  text-decoration: none;
}
#content .list-cont .list-box a .price {
  font-size: 15px;
  line-height: 30px;
  font-weight: bold;
  color: #b72600;
}
#content .list-cont .list-box a .price del {
  color: #363636;
  margin-right: 3px;
}
#content .list-cont .list-box a h2 {
  font-weight: bold;
  color: #8b5c06;
}
#content .list-cont .list-box .item-info {
  position: relative;
}
#content .list-cont.pix .list-box {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}
#content .list-cont.pix .list-box a,
#content .list-cont.pix .list-box img {
  width: 100%;
  display: block;
}
#content .list-cont.pix .list-box:nth-of-type(odd) {
  margin: 0 0 10px 0;
}
#content .list-cont.pix .list-box:nth-of-type(even) {
  margin: 0 0 10px 4%;
}
#content .list-cont.pix .list-box h2 {
  font-size: 13px;
  line-height: 20px;
  min-height: 80px;
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
#content .list-cont.pt .list-box, #content .list-cont.store .list-box {
  width: 100%;
  display: block;
  font-size: 0;
  margin-bottom: 15px;
}
#content .list-cont.pt .list-box img, #content .list-cont.store .list-box img {
  width: 45%;
  display: inline-block;
}
#content .list-cont.pt .list-box .item-info, #content .list-cont.store .list-box .item-info {
  width: 53%;
  margin-left: 2%;
  display: inline-block;
  vertical-align: top;
}
#content .list-cont.pt .list-box .price, #content .list-cont.store .list-box .price {
  position: absolute;
  bottom: 0;
}
#content .list-cont.pt .list-box h2, #content .list-cont.store .list-box h2 {
  font-size: 16px;
  line-height: 23px;
  min-height: 92px;
  height: 92px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
#content .list-cont.store .list-box h2 {
  padding-top: 15px;
  height: 23px;
  min-height: 23px;
}
#content .list-cont.store .list-box .address {
  font-size: 10px;
  color: #555;
  margin-top: 5px;
}
#content .list-cont.news .list-box {
  width: 90%;
  margin: 10px auto 20px;
  display: block;
}
#content .list-cont.news .list-box h2 {
  font-size: 18px;
  line-height: 24px;
}
#content .list-cont.news .list-box .date {
  font-size: 10px;
  color: #555;
  margin-top: 5px;
}
#content .list-cont .load-more {
  color: #b72600;
  width: 90%;
  margin: auto;
  font-size: 15px;
  line-height: 35px;
  border: 1px #b72600 solid;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#content .photo-slide {
  width: 100%;
  position: relative;
}
#content .photo-slide img {
  width: 100%;
}
#content .product-info {
  width: 270px;
  position: relative;
  margin: auto;
}
#content .product-info h1 {
  font-size: 18px;
  line-height: 25px;
  color: #8b5c06;
  font-weight: bold;
  padding: 10px 0;
}
#content .product-info .description {
  color: #555;
  font-size: 14px;
  line-height: 22px;
}
#content .product-info .description .store-info li {
  background-image: url("../img/icon-sub.svg");
  background-repeat: no-repeat;
  background-size: 30px 450px;
  line-height: 30px;
  padding-left: 30px;
}
#content .product-info .description .store-info li.address {
  background-position: 0 -120px;
}
#content .product-info .description .store-info li.phone {
  background-position: 0 -150px;
}
#content .product-info .description .store-info li.hours {
  background-position: 0 -180px;
}
#content .product-info.warning h1 {
  color: #b72600;
  font-size: 28px;
  line-height: 45px;
}
#content .product-info.warning .description {
  color: #b72600;
}
#content .product-info hr {
  height: 1px;
  border: 0;
  border-top: 1px #d3d3d3 solid;
  display: block;
}
#content .product-info .fee-info {
  font-size: 14px;
  line-height: 22px;
  margin: 10px 0;
  padding: 3px 5px;
  background-color: #ece7de;
  display: inline-block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#content .product-info .fee-info a {
  color: #b72600;
  text-decoration: none;
}
#content .product-info .price h2 {
  text-align: right;
  font-size: 25px;
  line-height: 40px;
  font-weight: bold;
}
#content .product-info .price h2 span {
  font-size: 12px;
  line-height: 18px;
  display: inline-block;
  margin: 0 5px;
  padding: 2px 6px;
  vertical-align: middle;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#content .product-info .price .fee-range {
  float: left;
  font-size: 19px;
  font-weight: bold;
  line-height: 45px;
  color: #8b5c06;
}
#content .product-info .price .buy-btn a {
  display: block;
  font-size: 18px;
  color: #fff;
  margin: 10px auto;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#content .product-info .price.web h2 {
  color: #b72600;
}
#content .product-info .price.web h2 span {
  color: #b72600;
  border: 1px #b72600 solid;
}
#content .product-info .price.web .buy-btn a {
  background-color: #b72600;
}
#content .product-info .price.store h2 {
  color: #4258ab;
}
#content .product-info .price.store h2 span {
  color: #4258ab;
  border: 1px #4258ab solid;
}
#content .product-info .price.store .buy-btn a {
  background-color: #4258ab;
}
#content .product-info .detail {
  margin-bottom: 20px;
}
#content .product-info .detail h3 {
  font-size: 15px;
  line-height: 30px;
  font-weight: bold;
  margin-top: 15px;
}
#content .product-info .detail p,
#content .product-info .detail li {
  color: #555;
  font-size: 14px;
  line-height: 22px;
}
#content .product-info .detail li {
  width: 48%;
  display: inline-block;
}
#content .product-info .detail .notice {
  font-size: 10px;
  line-height: 13px;
  color: #555;
}
#content .product-info .detail .list-cont {
  width: 100%;
}
#content .product-info .detail .list-cont h2 {
  font-size: 15px;
  line-height: 21px;
  min-height: 84px;
  height: 84px;
}
#content .product-info .detail .recommend {
  width: 100%;
  position: relative;
}
#content .product-info .detail .recommend img {
  width: 100%;
}
#content .product-info .detail .recommend .point {
  width: 85px;
  height: 72px;
  padding-top: 13px;
  position: absolute;
  top: -40px;
  right: -15px;
  text-align: center;
  color: #fff;
  font-size: 11px;
  line-height: 18px;
  background-color: #b72600;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
#content .product-info .detail .recommend .point b {
  font-size: 25px;
  font-weight: bold;
  padding: 0 3px;
}

#footer {
  background-color: #394166;
  color: #fff;
}
#footer .link {
  text-align: center;
  margin: 5px 0;
}
#footer .link li {
  display: inline-block;
  width: 50px;
  height: 50px;
}
#footer .link li a {
  width: 50px;
  height: 50px;
  display: block;
  background-size: 50px 200px;
  background-image: url("../img/icon-footer.svg");
  background-repeat: no-repeat;
}
#footer .link li.desktop a {
  background-position: 0 -50px;
}
#footer .link li.mobile a {
  background-position: 0 -100px;
}
#footer .link li.facebook a {
  background-position: 0 -150px;
}
#footer p {
  padding: 0 10% 10px;
  font-size: 11px;
  line-height: 15px;
}
#footer p span {
  font-size: 9px;
  display: block;
}
